table.asm {
  background-color: #ddeeff;
}
table.gallery {
  border-collapse: collapse;
}
table.gallery td {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  padding: 5px;
}
